<mat-toolbar color='primary'>
    <mat-toolbar-row class="container">
        <div class="row between-xs middle-xs header">
            <nav>
                <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
            </nav>
            <nav> 
                <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
                <a mat-raised-button color="warn" routerLink="/register" routerLinkActive="active">Sign up</a>
                <a routerLink="/login" routerLinkActive="active">Login</a>

                <a mat-raised-button [matBadge]="total$ | async" matBadgeColor='warn' routerLink="/order">
                    <mat-icon class="cart">shopping_cart</mat-icon>
                </a>
            </nav>
        </div>
    </mat-toolbar-row>
</mat-toolbar>