<form [formGroup]="form">

    <mat-card color="warn" class="row center-xs">
    
        <mat-card-header>
            <div class="col-xs center">
                <mat-card-title>Register</mat-card-title>
            </div>
        </mat-card-header>
    
        <mat-card-content>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName='name' matInput type="text">
                    </mat-form-field> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Email" formControlName='email' matInput type="email">
                    </mat-form-field> 
                </div>
            </div>
            <div class="row">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Password" formControlName='password' matInput type="password">
                    </mat-form-field>
                </div>
            </div>
            
            <mat-card-actions class="row middle-xs">
    
                <div class="div--row">
                    <div class="row center-xs middle-xs">
                        <input type="checkbox" name="" id="">
                        <p>I have read and agree to the terms and conditions</p>
                    </div>
                </div>
                
                <div class="col-xs center-xs">
                    <button [disabled]="form.invalid" (click)="register($event)" mat-raised-button color="warn" type="submit" class="button--login">Sign up</button>
                </div>
    
            </mat-card-actions>
    
        </mat-card-content>
    
    </mat-card>
</form>