<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title | uppercase}}</mat-card-title>
        <mat-card-subtitle>Price: {{ product.price | currency}}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img src="{{ product.image }}" alt="{{ product.title }}">
    </div>
    <mat-card-content>
        <p>{{ product.description | slice:0:15}}</p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-flat-button color="primary" (click)="addCart()">Agregar al carrito</button>
        <a mat-button [routerLink]="[product.id]">Ver detalle</a>
    </mat-card-actions>
</mat-card>

<!-- 
<h3 appHighlight> {{ product.title | uppercase}}</h3>
<img src="{{ product.image }}" alt="{{ product.title }}">
<strong>Price: {{ product.price | currency}}</strong>
<p>{{ product.description | slice:0:15}}</p>
<p>{{ today | date:'short' }}</p>
<button mat-flat-button color="primary" (click)="addCart()">Agregar al carrito</button>
<a [routerLink]="[product.id]">Ver detalle</a> -->