.body{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-start;
}
.container{
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
app-footer{
    justify-self: flex-end;
}